*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    background-color: rgb(105, 102, 102);
}


 .fotoperfil{
    position: relative;
    left: 10px;
    height: 300px;
    width: 300px;
    top: 10px;
 }

 .nombre{

    position: relative;
    left: 10px;
    top: 10px;
 }
 .profesion{
    position: relative;
    left: 10px;
    top: 10px;
 }

p{
    position: relative;
    left: 10px;
    top: 10px;
}

.contacto{
    position: relative;
    left: 10px;
    top: 10px;
}
#contacto{
position: relative;
left: 10px;
top: 10px;
}

#algosobremi{
    height: 200px;
    position: relative;
    top: 20px;
    left: 10px;
    background-color: brown;
}
