*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    width: 100%;
    background-color: #131212;
    border: color(srgb red rgb(153, 157, 153) blue);
    margin-top: 5px;
    
    
}

.miportafolio{

    position: relative;
    left: 160px;
    top: 10px;
}
body{

    background-color: rgb(105, 102, 102);
}


 .fotoperfil{
    position: relative;
    left: 10px;
    height: 300px;
    width: 300px;
    top: 10px;
 }

 .nombre{

    position: relative;
    left: 10px;
    top: 10px;
 }
 .profesion{
    position: relative;
    left: 10px;
    top: 10px;
 }

p{
    position: relative;
    left: 10px;
    top: 10px;
}

.contacto{
    position: relative;
    left: 10px;
    top: 10px;
}
#contacto{
position: relative;
left: 10px;
top: 10px;
}

#algosobremi{
    height: 200px;
    position: relative;
    top: 20px;
    left: 10px;
    background-color: brown;
}

.logollamada{

    height: 50px;
}

.logomail{

    height: 50px;
}

.logoinstagram{

    height: 50px;
}

.logoubi{
    height: 50px;
    width: 60px;
}
