*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    width: 100%;
    background-color: #131212;
    margin-top: 5px;
}

.miportafolio{

    position: relative;
    left: 250px;
    top: 10px;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(105, 102, 102);
}


 .fotoperfil{
    position: relative;
    left: 10px;
    height: 300px;
    width: 300px;
    top: 10px;
    width: 50%;
 }

 .nombre{

    position: relative;
    left: 10px;
    top: 10px;
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .profesion{
    position: relative;
    left: 10px;
    top: 10px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
 }

p{
    position: relative;
    left: 10px;
    top: 10px;
    width: 100%;
}

.contacto{

    position: relative;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 50%;
    height: 30%;
}
#contacto{
position: relative;
left: 10px;
top: 10px;
width: 50%;
height: 30%;
background-color: rgb(152, 152, 149);

}

.info {

    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
    
}
 
.info img {
    margin-right: 15px;
}

#algosobremi{
    width: 50%;
    height: 40%;
    position: relative;
    top: 20px;
    left: 10px;
    background-color: rgb(196, 196, 193);
}

.logollamada{

    height: 35px;
}

.logomail{

    height: 50px;
}

.logoinstagram{

    height: 50px;
}

.logoubi{
    height: 50px;
    width: 60px;
}
